{{#if submitNewArticle}}
  <h1>Write article directly in here</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Your name</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="text">Body of article</label>
        {{input value=text id="text"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL for article</label>
        {{input value=image id="image"}}
      </div>

      <div class="form-group">
        <label for="authorimage">Image URL of yourself</label>
        {{input value=authorimage id="authorimage"}}
      </div>

      <button {{action 'save1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'showArticleSubmitter'}}>Submit and article here</button>
{{/if}}
